[Unit]
Description=Adjust refresh rate

[Service]
Type=oneshot
ExecStart=/usr/bin/adjust-refresh-rate
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/{{ ansible_user_uid.stdout }}/gdm/Xauthority
