[Unit]
Description=Ensure custom xrandr modes exist
After=default.target
StartLimitIntervalSec=20
StartLimitBurst=3

[Service]
ExecStart=/usr/bin/ensure-edp-modes-exist
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/{{ ansible_user_uid.stdout }}/gdm/Xauthority
Type=oneshot
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
