[Unit]
Description=Run on-boot checks
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/on-boot {{ ansible_user_id }}
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/{{ ansible_user_uid.stdout }}/gdm/Xauthority

[Install]
WantedBy=multi-user.target
